div.header {
  float: none;
  padding-left: 20px;
}

div.james {
  height:200px;
  width: 50%;
  float: right;
}

#portrait {
    height: 30%;
    width: 30%;
    float: right;
    margin-right: 200px;
  }

div.about-me {
  padding-left: 20px;
  width: 30%;
}

div.work {
  padding-left:20px;
  width:30%;
  float:auto;
}