div.header {
  padding-left: 10px;
  margin-left: 10px;
}

body {
  background-color: rgb(82, 190, 167);
}
div.picture {
  float:right;
}

#portrait {
    height: 30%;
    width: 30%;
    margin-right: 70px;
    float: right;
  }

#title {
  text-align: center;
}

div.about-me {
  padding-left: 20px;
  width: 40%;
  margin-left: 10px;
  padding-bottom: 20px;
  float:left;
}

div.interests {
  padding-left: 20px;
  width: 40%;
  margin-left: 10px;
  padding-bottom: 20px;
  float:right;
}
div.work {
  padding-left:20px;
  width:30%;
  float:left;
  margin-left: 10px;
  margin-top: 70px;
}